<ngd-comment-card [comment]="rootComment()" />

@if (rootComment().branchSize) {
  <section>
    @for (childComment of childComments(); track childComment.id) {
      <ngd-comment-card [comment]="childComment" />
    }

    @if (shouldShowLoadMoreButtonSignal()) {
      <button
        ngd-button
        appearance="section"
        (click)="handleLoadMoreButtonClick()"
      >
        Загрузить ветку
      </button>
    }

    @if (loadingSignal()) {
      <ngd-loading-stub />
    }
  </section>
}
