<form [formGroup]="formGroup">
  <ngd-field>
    <label ngdCaption>Текст</label>
    <input ngdControl formControlName="text" />
  </ngd-field>
  <ngd-field>
    <label ngdCaption>Категория</label>
    <select ngdControl formControlName="categoryId">
      @for (category of categoriesSignal(); track category.id) {
        <option [value]="category.id">{{ category.text }}</option>
      }
    </select>
  </ngd-field>
  <button ngd-button [appearance]="'section'" type="reset">Сбросить</button>
</form>

@for (post of postsSignal(); track post.id) {
  <ngd-post-card [post]="post" />
}

@if (loadingSignal()) {
  <ngd-loading-stub />
}
