<div infiniteScroll (scrolled)="handleScrolled()">
  <form [formGroup]="formGroup">
    <ngd-field>
      <label ngdCaption>Текст</label>
      <input ngdControl formControlName="text" />
      <button
        ngd-button
        appearance="icon"
        ngdSuffix
        (click)="handleTextFieldSuffixClick()"
      >
        ×
      </button>
    </ngd-field>
    <ngd-field>
      <label ngdCaption>Категория</label>
      <select ngdControl formControlName="categoryId">
        <option [value]="''">Без категории</option>
        @for (category of categories$ | async; track category.id) {
          <option [value]="category.id">{{ category.text }}</option>
        }
      </select>
    </ngd-field>
  </form>

  @for (post of posts$ | async; track post.id; let last = $last) {
    <ngd-post-card [post]="post" />
  }

  @if (isLoading$ | async) {
    <ngd-loading-stub />
  }
</div>
