:host {
  display: block;

  max-width: 32rem;
}

header {
  margin: 1rem 0;

  font-weight: 600;
}

.location-row {
  font-size: 0.85rem;
}

button {
  margin: 1rem 0;
  display: block;
  width: 100%;
}
