:host {
  margin: 0;
  padding: 0;

  background: none;
  border: none;

  border-radius: var(--button-border-radius);

  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);

  cursor: pointer;

  &.default {
    padding: 0.75rem;

    color: var(---button-default-color);
    background-color: var(--button-default-background-color);

    &:hover {
      background-color: var(--button-default-hover-background-color);
    }
  }

  &.icon {
    display: inline-block;

    min-width: 1.25rem;
    min-height: 1.25rem;

    max-width: 1.25rem;
    max-height: 1.25rem;

    color: inherit;
    border-radius: 10000px;

    font-weight: inherit;
    line-height: 1.25rem;

    &:hover {
      background-color: var(--button-icon-hover-background-color);
    }
  }

  &.section {
    display: block;
    padding: 0.75rem;

    width: 100%;

    font-weight: inherit;
    line-height: inherit;

    color: inherit;

    &:hover {
      background-color: var(--button-section-hover-background-color);
    }
  }
}
