:host {
  display: flex;
  width: 100%;
  height: 100%;

  position: fixed;
  left: 0;
  top: 0;

  padding: 2rem;
  border: 0;

  box-sizing: border-box;
}

:host.is-toast {
  justify-content: center;
  align-items: flex-end;

  background-color: transparent;
}

:host.is-modal {
  justify-content: center;
  align-items: center;

  background-color: #00000044;
  backdrop-filter: blur(1px);
}

.shell {
  padding: 0 1rem;

  border: solid 1px var(--field-border-color);
  border-radius: 1.5rem;

  color: var(--color);
  background-color: var(--background-color);

  box-shadow: 0 0 64px 4px rgba(0, 0, 0, 0.3);
}
