<article>
  <p>
    <strong>ngdeer</strong> — это неофициальный веб-клиент для
    <a href="https://ideer.ru/">проекта «Подслушано»</a>. С помощью ngdeer можно
    читать секреты так же, как с официального сайта или из приложений — только
    без рекламы и других отвлекающих элементов.
  </p>
  <p>
    Сейчас ngdeer поддерживает только чтение: здесь нет регистрации или
    авторизации, поэтому отправить свой секрет через ngdeer не получится.
    Возможно, эти функции появятся в будущем.
  </p>
  <hr />
  <p>
    Оригинальные истории созданы и принадлежат авторам проекта «Подслушано» (<a
      href="https://ideer.ru/"
      >ideer.ru</a
    >).
  </p>
  <p>
    Исходный код ngdeer доступен под лицензией MIT (<a
      href="https://github.com/icmx/ngdeer"
      >github.com/icmx/ngdeer</a
    >).
  </p>
</article>
