:host {
  display: grid;
  grid-template-rows: auto 1fr auto;

  margin: 0 auto;

  max-width: 800px;
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0;

  display: flex;
  gap: 1rem;

  padding: 0.75rem 1rem 0.75rem;

  white-space: nowrap;
  overflow-y: auto;

  font-weight: 600;

  background-color: var(--background-color);
}

.header-link,
.footer-link {
  text-decoration: none;
}

.header-link {
  padding: 0.25rem 0;
}

.header-link.is-active {
  border-bottom: solid 3px;
}

footer {
  padding: 0.75rem 1rem 0.75rem;

  color: var(--color-caption);
  font-size: 0.75rem;
  text-align: center;
}
