<header>
  @for (link of links; track link.routerLink) {
    <a
      class="header-link"
      [routerLink]="link.routerLink"
      routerLinkActive="is-active"
      [routerLinkActiveOptions]="{
        matrixParams: 'ignored',
        queryParams: 'ignored',
        paths: 'exact',
        fragment: 'ignored',
      }"
      (click)="handleHeaderLinkClick()"
    >
      {{ link.innerText }}
    </a>
  }
</header>
<section>
  <router-outlet />
</section>
<footer>
  <p><strong>ngdeer</strong> — клиент «Подслушано»</p>
  <p>
    <a class="footer-link" href="https://github.com/icmx">{{ "@icmx" }}</a>
  </p>
</footer>
