:host {
  margin: 0;
  padding: 0;

  background: none;
  border: none;

  color: inherit;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;

  text-decoration: underline dashed 1px;

  cursor: pointer;
}
