:host {
  display: inline-block;
  padding: 6px;

  border: solid 1px var(--field-border-color);
  border-radius: var(--field-border-radius);
}

:host:focus-within {
  border-color: var(--field-focus-border-color);
}

:host:has(.ng-invalid.ng-touched) {
  border-color: var(--field-invalid-border-color);
}

.row {
  display: flex;
}
