:host {
  display: block;
  padding: 0.75rem;

  line-height: inherit;
  text-align: center;

  cursor: progress;
  animation: blink 0.5s infinite linear;
}

@keyframes blink {
  50% {
    opacity: 0.25;
  }
}
