form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

ngd-field {
  flex-basis: 100%;
}

h2 {
  font-size: 16px;
  font-weight: 500;
}

button[ngd-user-label] {
  flex-basis: 100%;
  display: block;
  text-align: left;
}
