html {
  color-scheme: light dark;

  --color: light-dark(#232323, #f3f3f3);
  --background-color: light-dark(#fafafa, #111111);

  --a-color: light-dark(#cc7d24, #cc7d24);

  --button-default-color: light-dark(#ffffff, #111111);
  --button-default-background-color: light-dark(#cc7d24, #cc7d24);
  --button-default-hover-background-color: light-dark(#b16605, #b66b0d);
  --button-icon-hover-background-color: light-dark(#f2f2f2, #191919);
  --button-section-hover-background-color: light-dark(#f2f2f2, #191919);

  --field-border-color: light-dark(#eeeeee, #222222);
  --field-focus-border-color: light-dark(#cc7d24, #cc7d24);
  --field-invalid-border-color: light-dark(#dc2626, #f87171);

  --caption-color: light-dark(#686868, #888888);
}

html[data-theme="light"] {
  color-scheme: light;
}

html[data-theme="dark"] {
  color-scheme: dark;
}

html {
  --font-family: system-ui, sans-serif;
  --font-size: 1rem;
  --line-height: 1.5;

  --card-border-radius: 12px;

  --button-border-radius: 12px;
  --button-font-family: system-ui, sans-serif;
  --button-font-size: 1rem;
  --button-font-weight: 600;

  --field-border-radius: 8px;

  --control-font-family: system-ui, sans-serif;
  --control-font-size: 1rem;
}

body {
  margin: 0;

  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);

  color: var(--color);
  background-color: var(--background-color);

  overflow-y: scroll;
}

a {
  color: var(--a-color);
}

time,
span {
  color: var(--caption-color);
}

hr {
  margin: 1.25rem 0;
  padding: 0;

  height: 1px;

  border: 0;
  background-color: var(--caption-color);
}
