html {
  --font-family: system-ui, sans-serif;
  --font-size: 1rem;
  --line-height: 1.5;

  --color: #fffffe;
  --background-color: #271c19;

  --color-mute: #fff3ec;

  --a-color: #e78fb3;

  --card-border-radius: 12px;
  --card-background-color: #55423d;

  --button-font-family: system-ui, sans-serif;
  --button-font-size: 1rem;
  --button-font-weight: 600;

  --button-color: #ffffff;

  --button-default-border-radius: 12px;
  --button-default-background-color: #418af4;

  --button-default-hover-background-color: #598fde;

  --button-icon-hover-background-color: #444444;

  --button-section-border-radius: 12px;
  --button-section-hover-background-color: #444444;

  --field-color: #000000;
  --field-background-color: #ffffff;

  --field-focus-background-color: #ffffff;
  --field-focus-border-color: #000000;
  --field-focus-box-shadow-color: #000000;

  --field-invalid-border-color: #ff0000;

  --caption-color: #000000;

  --control-font-family: system-ui, sans-serif;
  --control-font-size: 1rem;
}

body {
  margin: 0;

  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);

  color: var(--color);
  background-color: var(--background-color);
}

a {
  color: var(--a-color);
}

time,
span {
  color: var(--color-mute);
}
